
/* ------------------------------------------------- global setting ------------------------------------------------- */



/* !!!!!!!!!!!!! download your own font locally, because something google could be really slowly when rendering !!!!!!!!!!!! */

/*  google fonts list:  1) Indie Flower 2) Montserrat 3) Space Grotesk 4) Ubuntu 5) Zen Maru Gothic  */ 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Maru+Gothic:wght@400;500;700&display=swap');


/* - asterisk(*) means select all elements, and :after :before had to specify separately
   - box-sizing: border-box means includes padding and border in the element's total width height
   - font: inherit font properties from parent elements
   - marigin & padding: setting to 0
   - inhert: making all elements inherit from their parent div, h1 h2 tag doesn't affect them */
*,
*:after,
*:before {
   margin: 0;
   padding: 0;
}

/*  for all the default nav tag (just nav tag): 
   specifically ol and ul sub tag, remove their original style, the bullet(•) */
nav :where(ol, ul) {
  list-style: none;
}


/* image display setup */
img,
picture {
  width: 100%;
  display: block;
}


/* wrapped out lines for text display */
p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
   word-wrap: break-word;
   font-family: 'Montserrat';
}


/* setup (text)selected color for webpage */
::selection {
   background: var(--color-grey);
   color: var(--color-black);
}

/* setup for Firefox */
::-moz-selection {          
   background: var(--color-grey);
   color: var(--color-black);
}


/* set up unified space for all section tag */
section {
   padding: 2.5rem 0rem 3rem;
}


/* customize for md, I think it will definitely be needed later, but set empty for now */



/* ------------------------------------------------- Main Layout ------------------------------------------------- */
/*  viewport (vh) could make the padding dynamic when resizing windows 
    setting percentage is respect to parent box  */
body {
   display: flex;
   padding: 5rem 5rem;
   margin: 0rem auto;
   max-width: 500px;
}




/* ------------------------------------------------- Component ------------------------------------------------- */
/* svg component has typescript for export class value, so their style need to be defined globally when imported */
/* unless you tuck them in a <div> tag */
 .svg-icon {
    width: 5rem;
    height: 5rem;
 }

.btn {
   padding: 3px;
   font-family: 'Ubuntu';
}




/* ------------------------------------------------- Color ------------------------------------------------- */
/* root level pre-defined variables */
:root {
   --color-white:#fcfcfd;
   --color-dark:#1d1e20;
   --color-lightdark: #8A8B8C;
   --color-middark: #171819;
   --color-black: #121212;
   --color-grey: #D8DEE9;
   --color-lightgreen: #A1EFD3;
   --color-green: #62D196;
   --color-lightblue: #7aa2f7;
   --color-blue: #3D5AF1;
   --color-cyan: #7DE5ED;
   --color-hyperlink: #0000FF;
   --color-red: #ab1c0f;
   --color-light: #f4f4f4;
   --color-darklight: #e8e8e8;
   --color-lightred: #CF455C;
   --color-beige: #FFFAF4;

   --icon-sun-display: block;
   --icon-moon-display: none;
}
